<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/confin">
<!--Toolbar-->
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="@android:color/transparent"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Light"
        app:layout_scrollFlags="scroll|enterAlways" />
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/drawer_layout"
        android:layout_height="match_parent"
        android:layout_width="match_parent">
        <android.support.design.widget.NavigationView
            android:id="@+id/nav_view"
            android:layout_height="match_parent"
            android:layout_width="280dp"
            android:layout_gravity="start"
            android:fitsSystemWindows="true"
            app:menu="@menu/menu" />
    <!--Cuerpo-->
        <TableLayout
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/tableLayout1">
            <TableRow
                android:id="@+id/tableRow1"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_height="249.0dp">
                <Button
                    android:layout_column="0"
                    android:id="@+id/button2"
                    android:layout_marginTop="137.5dp"
                    android:layout_width="96.0dp"
                    android:layout_marginLeft="77.5dp"
                    android:layout_marginRight="74.5dp"
                    android:background="@drawable/confac1"
                    android:layout_height="112.0dp"
                    android:textAlignment="center"
                    android:paddingTop="5dp"
                    android:selectAllOnFocus="true"
                    android:shadowColor="#ffa9a9a9"
                    android:backgroundTintMode="screen" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow2"
                android:minWidth="25px"
                android:minHeight="25px">
                <Button
                    android:layout_column="0"
                    android:id="@+id/button1"
                    android:layout_marginTop="67.0dp"
                    android:layout_marginLeft="77.5dp"
                    android:layout_marginRight="74.5dp"
                    android:background="@drawable/conmed1"
                    android:layout_height="113.0dp"
                    android:paddingTop="5dp"
                    android:layout_width="208.5dp" />
            </TableRow>
        </TableLayout>
    <!--Fin-cuerpo-->
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>